<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>
  <main>
    <section id="main-content">
      <div class="all-content">
        <div class="content-info">
          <div class="info-header">
            <a href="#" class="logo">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="165px" height="32px" viewBox="0 0 165 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
                <title>LegalAid</title>
                <desc>Created with Sketch.</desc>
                <g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Email-Confirmation" transform="translate(-26.000000, -62.000000)" fill="#0067ED"
                    fill-rule="nonzero">
                    <path
                      d="M42.336,86 L42.336,82.832 L30.144,82.832 L30.144,63.28 L26.56,63.28 L26.56,86 L42.336,86 Z M56.473568,86.32 C58.2442347,86.32 59.7962347,85.92 61.129568,85.12 C62.4629013,84.32 63.417568,83.2906667 63.993568,82.032 L63.993568,82.032 L60.985568,81.168 C60.8149013,81.552 60.5802347,81.904 60.281568,82.224 C59.9829013,82.544 59.641568,82.816 59.257568,83.04 C58.873568,83.264 58.4522347,83.4346667 57.993568,83.552 C57.5349013,83.6693333 57.0709013,83.728 56.601568,83.728 C55.961568,83.728 55.3482347,83.6106667 54.761568,83.376 C54.1749013,83.1413333 53.6522347,82.8053333 53.193568,82.368 C52.7349013,81.9306667 52.361568,81.4133333 52.073568,80.816 C51.785568,80.2186667 51.609568,79.5466667 51.545568,78.8 L51.545568,78.8 L64.953568,78.8 C64.9749013,78.6506667 64.9962347,78.464 65.017568,78.24 C65.0389013,78.016 65.049568,77.776 65.049568,77.52 C65.049568,76.3893333 64.8522347,75.3066667 64.457568,74.272 C64.0629013,73.2373333 63.4922347,72.3306667 62.745568,71.552 C61.9989013,70.7733333 61.097568,70.1493333 60.041568,69.68 C58.985568,69.2106667 57.8069013,68.976 56.505568,68.976 C55.1829013,68.976 53.9882347,69.2053333 52.921568,69.664 C51.8549013,70.1226667 50.9429013,70.752 50.185568,71.552 C49.4282347,72.352 48.841568,73.28 48.425568,74.336 C48.009568,75.392 47.801568,76.5066667 47.801568,77.68 C47.801568,78.8533333 48.009568,79.9626667 48.425568,81.008 C48.841568,82.0533333 49.4282347,82.9706667 50.185568,83.76 C50.9429013,84.5493333 51.8549013,85.1733333 52.921568,85.632 C53.9882347,86.0906667 55.1722347,86.32 56.473568,86.32 Z M61.561568,76.368 L51.449568,76.368 C51.513568,75.664 51.6842347,75.0133333 51.961568,74.416 C52.2389013,73.8186667 52.601568,73.312 53.049568,72.896 C53.497568,72.48 54.0149013,72.1546667 54.601568,71.92 C55.1882347,71.6853333 55.8122347,71.568 56.473568,71.568 C57.1349013,71.568 57.7642347,71.6853333 58.361568,71.92 C58.9589013,72.1546667 59.481568,72.48 59.929568,72.896 C60.377568,73.312 60.745568,73.8186667 61.033568,74.416 C61.321568,75.0133333 61.497568,75.664 61.561568,76.368 L61.561568,76.368 Z M79.699136,93.136 C80.9578027,93.136 82.131136,92.9653333 83.219136,92.624 C84.307136,92.2826667 85.251136,91.7866667 86.051136,91.136 C86.851136,90.4853333 87.475136,89.6906667 87.923136,88.752 C88.371136,87.8133333 88.595136,86.736 88.595136,85.52 L88.595136,85.52 L88.595136,69.264 L85.491136,69.264 L85.491136,72.432 C84.8298027,71.408 83.9924693,70.576 82.979136,69.936 C81.9658027,69.296 80.787136,68.976 79.443136,68.976 C78.291136,68.976 77.2404693,69.2053333 76.291136,69.664 C75.3418027,70.1226667 74.5258027,70.7413333 73.843136,71.52 C73.1604693,72.2986667 72.627136,73.216 72.243136,74.272 C71.859136,75.328 71.667136,76.4533333 71.667136,77.648 C71.667136,78.7786667 71.8538027,79.856 72.227136,80.88 C72.6004693,81.904 73.123136,82.8106667 73.795136,83.6 C74.467136,84.3893333 75.2724693,85.0133333 76.211136,85.472 C77.1498027,85.9306667 78.1844693,86.16 79.315136,86.16 C80.467136,86.16 81.5658027,85.8826667 82.611136,85.328 C83.6564693,84.7733333 84.4778027,83.984 85.075136,82.96 L85.075136,82.96 L85.075136,85.52 C85.075136,86.3733333 84.931136,87.1093333 84.643136,87.728 C84.355136,88.3466667 83.9658027,88.8586667 83.475136,89.264 C82.9844693,89.6693333 82.4138027,89.968 81.763136,90.16 C81.1124693,90.352 80.4244693,90.448 79.699136,90.448 C78.547136,90.448 77.4644693,90.2133333 76.451136,89.744 C75.4378027,89.2746667 74.611136,88.592 73.971136,87.696 L73.971136,87.696 L71.987136,89.552 C72.819136,90.6826667 73.8484693,91.5626667 75.075136,92.192 C76.3018027,92.8213333 77.843136,93.136 79.699136,93.136 Z M80.467136,83.312 C79.7204693,83.312 79.0324693,83.1626667 78.403136,82.864 C77.7738027,82.5653333 77.2244693,82.1653333 76.755136,81.664 C76.2858027,81.1626667 75.9178027,80.576 75.651136,79.904 C75.3844693,79.232 75.251136,78.512 75.251136,77.744 C75.251136,77.0186667 75.3684693,76.3146667 75.603136,75.632 C75.8378027,74.9493333 76.1684693,74.336 76.595136,73.792 C77.0218027,73.248 77.539136,72.8106667 78.147136,72.48 C78.755136,72.1493333 79.443136,71.984 80.211136,71.984 C80.7018027,71.984 81.1924693,72.0746667 81.683136,72.256 C82.1738027,72.4373333 82.6378027,72.688 83.075136,73.008 C83.5124693,73.328 83.9018027,73.7066667 84.243136,74.144 C84.5844693,74.5813333 84.8618027,75.0666667 85.075136,75.6 L85.075136,75.6 L85.075136,79.984 C84.947136,80.432 84.7338027,80.8533333 84.435136,81.248 C84.1364693,81.6426667 83.779136,81.9946667 83.363136,82.304 C82.947136,82.6133333 82.4938027,82.8586667 82.003136,83.04 C81.5124693,83.2213333 81.0004693,83.312 80.467136,83.312 Z M102.028704,86.32 C103.287371,86.32 104.466037,86.0586667 105.564704,85.536 C106.663371,85.0133333 107.586037,84.2613333 108.332704,83.28 L108.332704,83.28 L108.428704,84.336 C108.514037,84.8693333 108.743371,85.3066667 109.116704,85.648 C109.490037,85.9893333 110.018037,86.16 110.700704,86.16 C110.935371,86.16 111.175371,86.1493333 111.420704,86.128 C111.666037,86.1066667 111.959371,86.064 112.300704,86 L112.300704,86 L112.300704,82.992 C111.682037,82.9706667 111.372704,82.5866667 111.372704,81.84 L111.372704,81.84 L111.372704,75.792 C111.372704,73.5946667 110.732704,71.9093333 109.452704,70.736 C108.172704,69.5626667 106.380704,68.976 104.076704,68.976 C101.751371,68.976 99.5113707,69.7013333 97.356704,71.152 L97.356704,71.152 L98.444704,73.392 C99.3620373,72.7733333 100.252704,72.2986667 101.116704,71.968 C101.980704,71.6373333 102.860704,71.472 103.756704,71.472 C105.079371,71.472 106.092704,71.8186667 106.796704,72.512 C107.500704,73.2053333 107.852704,74.1706667 107.852704,75.408 L107.852704,75.408 L107.852704,76.56 C107.234037,76.3253333 106.540704,76.1386667 105.772704,76 C105.004704,75.8613333 104.226037,75.792 103.436704,75.792 C102.391371,75.792 101.436704,75.92 100.572704,76.176 C99.708704,76.432 98.9620373,76.7946667 98.332704,77.264 C97.7033707,77.7333333 97.2180373,78.288 96.876704,78.928 C96.5353707,79.568 96.364704,80.2826667 96.364704,81.072 C96.364704,81.8186667 96.508704,82.512 96.796704,83.152 C97.084704,83.792 97.4793707,84.3466667 97.980704,84.816 C98.4820373,85.2853333 99.0793707,85.6533333 99.772704,85.92 C100.466037,86.1866667 101.218037,86.32 102.028704,86.32 Z M102.988704,83.728 C102.028704,83.728 101.239371,83.4453333 100.620704,82.88 C100.002037,82.3146667 99.692704,81.616 99.692704,80.784 C99.692704,79.888 100.092704,79.168 100.892704,78.624 C101.692704,78.08 102.722037,77.808 103.980704,77.808 C104.620704,77.808 105.276704,77.872 105.948704,78 C106.620704,78.128 107.255371,78.3093333 107.852704,78.544 L107.852704,78.544 L107.852704,80.752 C107.852704,81.1786667 107.628704,81.584 107.180704,81.968 C106.754037,82.5226667 106.162037,82.9546667 105.404704,83.264 C104.647371,83.5733333 103.842037,83.728 102.988704,83.728 Z M124.262272,86.256 C124.816939,86.256 125.446272,86.1866667 126.150272,86.048 C126.854272,85.9093333 127.462272,85.7226667 127.974272,85.488 L127.974272,85.488 L127.462272,82.736 C127.184939,82.8426667 126.891605,82.9386667 126.582272,83.024 C126.272939,83.1093333 126.000939,83.152 125.766272,83.152 C125.190272,83.152 124.742272,82.976 124.422272,82.624 C124.102272,82.272 123.942272,81.7866667 123.942272,81.168 L123.942272,81.168 L123.942272,62.64 L120.422272,62.64 L120.422272,82.448 C120.422272,83.664 120.758272,84.6026667 121.430272,85.264 C122.102272,85.9253333 123.046272,86.256 124.262272,86.256 Z M136.70384,86 L139.07184,79.824 L147.83984,79.824 L150.23984,86 L154.01584,86 L145.05584,63.28 L141.91984,63.28 L132.89584,86 L136.70384,86 Z M147.13584,77.168 L139.71184,77.168 L143.48784,67.408 L147.13584,77.168 Z M164.665408,66.512 L164.665408,62.64 L161.145408,62.64 L161.145408,66.512 L164.665408,66.512 Z M164.665408,86 L164.665408,69.264 L161.145408,69.264 L161.145408,86 L164.665408,86 Z M180.466976,86.32 C181.768309,86.32 182.952309,86.0213333 184.018976,85.424 C185.085643,84.8266667 185.928309,84.0053333 186.546976,82.96 L186.546976,82.96 L186.610976,84.208 C186.653643,84.784 186.898976,85.2533333 187.346976,85.616 C187.794976,85.9786667 188.370976,86.16 189.074976,86.16 C189.224309,86.16 189.410976,86.1493333 189.634976,86.128 C189.858976,86.1066667 190.152309,86.064 190.514976,86 L190.514976,86 L190.514976,82.992 C190.152309,82.9706667 189.901643,82.8746667 189.762976,82.704 C189.624309,82.5333333 189.554976,82.2453333 189.554976,81.84 L189.554976,81.84 L189.554976,62.64 L186.034976,62.64 L186.034976,72.432 C185.458976,71.4293333 184.658976,70.6026667 183.634976,69.952 C182.610976,69.3013333 181.426976,68.976 180.082976,68.976 C178.994976,68.976 177.997643,69.2053333 177.090976,69.664 C176.184309,70.1226667 175.394976,70.7466667 174.722976,71.536 C174.050976,72.3253333 173.528309,73.2373333 173.154976,74.272 C172.781643,75.3066667 172.594976,76.4106667 172.594976,77.584 C172.594976,78.8 172.792309,79.936 173.186976,80.992 C173.581643,82.048 174.130976,82.9706667 174.834976,83.76 C175.538976,84.5493333 176.370976,85.1733333 177.330976,85.632 C178.290976,86.0906667 179.336309,86.32 180.466976,86.32 Z M181.330976,83.312 C180.626976,83.312 179.970976,83.1626667 179.362976,82.864 C178.754976,82.5653333 178.216309,82.16 177.746976,81.648 C177.277643,81.136 176.909643,80.5386667 176.642976,79.856 C176.376309,79.1733333 176.242976,78.448 176.242976,77.68 C176.242976,76.9546667 176.365643,76.2506667 176.610976,75.568 C176.856309,74.8853333 177.192309,74.2773333 177.618976,73.744 C178.045643,73.2106667 178.552309,72.784 179.138976,72.464 C179.725643,72.144 180.370976,71.984 181.074976,71.984 C181.586976,71.984 182.093643,72.0693333 182.594976,72.24 C183.096309,72.4106667 183.570976,72.656 184.018976,72.976 C184.466976,73.296 184.866976,73.68 185.218976,74.128 C185.570976,74.576 185.842976,75.0666667 186.034976,75.6 L186.034976,75.6 L186.034976,79.984 C185.906976,80.4533333 185.688309,80.8906667 185.378976,81.296 C185.069643,81.7013333 184.701643,82.0533333 184.274976,82.352 C183.848309,82.6506667 183.378976,82.8853333 182.866976,83.056 C182.354976,83.2266667 181.842976,83.312 181.330976,83.312 Z"
                      id="LegalAid"></path>
                  </g>
                </g>
              </svg>
            </a>
          </div>
          <div class="info-inner">
            <h2>Cleaning And Organizing Your Computer</h2>
            <p>Life Advice Looking Through A Window Life Advice Looking Through A Window</p>
            <div class="contact">
              <button onclick="window.location.href = '#download';">Download</button>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <svg height="18px" viewBox="0 -77 512.00213 512" width="20px" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m501.453125 56.09375c-5.902344-21.933594-23.195313-39.222656-45.125-45.128906-40.066406-10.964844-200.332031-10.964844-200.332031-10.964844s-160.261719 0-200.328125 10.546875c-21.507813 5.902344-39.222657 23.617187-45.125 45.546875-10.542969 40.0625-10.542969 123.148438-10.542969 123.148438s0 83.503906 10.542969 123.148437c5.90625 21.929687 23.195312 39.222656 45.128906 45.128906 40.484375 10.964844 200.328125 10.964844 200.328125 10.964844s160.261719 0 200.328125-10.546875c21.933594-5.902344 39.222656-23.195312 45.128906-45.125 10.542969-40.066406 10.542969-123.148438 10.542969-123.148438s.421875-83.507812-10.546875-123.570312zm0 0"
                    fill="#ffffff" />
                  <path d="m204.96875 256 133.269531-76.757812-133.269531-76.757813zm0 0" fill="#0569ed" /></svg>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="content-img">
          <img src="../assets/Slide Photo.png" alt="">
        </div>
        <div class="owerlay">

        </div>
      </div>

    </section>
    <section id="download">
      <div class="blue-content">
        <div class="download-container">
          <div class="download-info">
            <div class="store-content">
              <button class="store"> <img src="../assets/google-play.png" alt=""></button>
              <button class="store"><img src="../assets/app-store.png" alt=""></button>

            </div>
            <h3>Yükləmə linkini əldə edin</h3>
            <p>Life Advice Looking Through A Window Life Advice Looking Through A Window</p>
            <div class="input-content">
              <input type="text" placeholder="Emaili daxil edin">
              <button>Göndər</button>

            </div>
          </div>
          <div class="download-image">
            <img src="../assets/Dowland.png" alt="">
          </div>
        </div>
      </div>

    </section>
  </main>
  <footer>
    {{> common/footer}}
  </footer>
</body>

</html>