<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>
  <main>
    <section id="main-content">
      <div class="all-content">
        <div class="content-info">
          <div class="info-header">
            <a href="#">LegalAid</a>
          </div>
          <div class="info-inner">
            <h2>Cleaning And Organizing Your Computer</h2>
            <p>Life Advice Looking Through A Window Life Advice Looking Through A Window</p>
            <div class="contact">
              <button onclick="window.location.href = '#download';">Download</button>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="content-img">
          <img src="../assets/phones@3x.png" alt="">
        </div>
        <div class="owerlay">

        </div>
      </div>

    </section>
    <section id="download">
      <div class="blue-content">
        <div class="download-container">
          <div class="download-info">
            <div class="store-content">
              <button class="store"> <img src="../assets/play-store.png" alt=""></button>
              <button class="store"><img src="../assets/app-store.png" alt=""></button>

            </div>
            <h3>Yükləmə linkini əldə edin</h3>
            <p>Life Advice Looking Through A Window Life Advice Looking Through A Window</p>
             <div class="input-content">
              <input type="text" placeholder="Emaili daxil edin">
              <button>Göndər</button>

            </div>
          </div>
          <div class="download-image">
            <img src="../assets/Dowland.png" alt="">
          </div>
        </div>
      </div>

    </section>
  </main>
<footer>
  {{> common/footer}}
</footer>
</body>

</html>