<section id="footer">
  <div class="footer-container">
    <h2>LegalAid</h2>
    <div class="footer-contact">
      <a href="#" class="fb">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="tw">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="yt">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="#" class="lin">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="reserved">
    <p>2019 All right reserved </p>
  </div>

</section>